@font-face{
    font-family: Monaco;
    src:url('font/monaco.ttf'),url('font/monaco.eot');
}
@keyframes changecolor {
    0%   {background: #ce0000;}
    23%  {background: #ce0000;}
    25%  {background: #c58000;}
    48%  {background: #c58000;}
    50%  {background: #0068b4;}
    73%  {background: #0068b4;}
    75%  {background: green;}
    98%  {background: green;}
    100% {background: #ce0000;}
}
@keyframes changewidth {
    from {width: 100%;opacity: 1.0;}
    17%  {opacity: 1.0;}
    20%  {opacity: 0;}
    23%  {opacity: 1.0;}
    25%  {opacity: 1.0;}
    28%  {opacity: 0;}
    31%  {opacity: 1.0;}
    33%  {opacity: 1.0;}
    36%  {opacity: 0;}
    39%  {opacity: 1.0;}
    to   {width: 0;opacity: 1.0;}
}
@keyframes fade {
    from {text-shadow: 0 0 10px whitesmoke;}
    50%  {text-shadow: 0 0 0px whitesmoke;}
    to   {text-shadow: 0 0 10px whitesmoke;}
}
body{
    animation: changecolor 10s infinite;
}
h1{
    padding:1rem;
}
.box{
    height: 8%;
    width: 10%;
    position: absolute;
    top: 46%;
    left: 45%;
}
.box1{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: changecolor 10s infinite;
}
.text{
    font-family: Monaco;
    font-style: italic;
    font-size: 50px;
    color: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-shadow: 0 0 10px #F6F4F2;
}
.vbox{
    z-index: 10;
    background-color: white;
    position: absolute;
    left: 0;
    box-shadow: 0 0 5px whitesmoke;
}
.tbox{
    position: absolute;
    height: 4%;
    width: 5%;
    top: 54%;
    left: 47.5%;
    color: white;
    text-align: center;
    font-family: Monaco;
    font-size: 12px;
    animation: fade 4s linear infinite;
}
#vbox1{
    height: 8%;
    top: 38%;
    animation: changewidth 0.8s ease-out 0.5s;
}
#vbox2{
    height: 8%;
    top: 46%;
    animation: changewidth 0.8s ease-out 0.3s;
}
#vbox3{
    height: 8%;
    top: 54%;
    animation: changewidth 0.8s ease-out 0.1s;
}